@import "reset";

.bodyCat {
  padding-bottom: 20rem;
  background: linear-gradient(#040306, #22273f);
  margin: 0;
}

.categories-grid-container {
  max-width: 800px;
  margin: 0 auto;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.category-item {
  text-align: center;
}

.category-item img {
  width: 230px;
  height: 230px;
  border-radius: 10px;
}

.category-item label {
  display: block;
  margin-top: 10px;
  color: white;
}
