.categoryContainer {
    height: 100vh;
    background: linear-gradient(#040306, #22273f);
    padding-top: 4rem;

    h1 {
        margin: 0;
        color: white;
        text-align: center;
    }
}