@import "reset";

p {
    margin: 0;
}

.home-container {
    height: 100vh;
    background: linear-gradient(#040306, #22273f);
    position: relative;

    .home-content {
        color: white;
        font-size: 24px;
        width: 97%;
        margin: auto;

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            padding-top: 20px;

            div {
                display: flex;
                flex-direction: column;
      
                
                a {
                    color: white;
                    padding: 10px;
                    background-color: #22273f;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }

        .category-scrolling {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            scrollbar-width: none;

            div {
                margin: 10px;
                display: flex;
                flex-direction: column;

                img {
                    width: 130px;
                    height: 130px;
                    border-radius: 5px;
                }

                label {
                    color: white;
                }
            }
        }

        .popular-scrolling {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            scrollbar-width: none;

            .popular {
                text-decoration: none;
                margin: 10px;
                display: flex;
                flex-direction: column;
                cursor: pointer;

                img {
                    width: 130px;
                    height: 130px;
                    border-radius: 5px;
                }

                label {
                    color: white;
                }
            }
        }
    }
}

