@import "reset";

.login-container {
    height: 100vh;
    background: linear-gradient(#040306, #22273f);
    width: 75%;
    padding-top: 10rem;

    @media screen and (max-width: 650px) {
        width: 100%;
    }

    @media screen and (max-width: 900px) {
        width: 90%;
    }

    .login-content {
        color: white;
        font-size: 24px;
        width: 65%;
        margin: auto;

        @media screen and (max-width: 650px) {
            width: 100%;
        }

        @media screen and (max-width: 900px) {
            width: 90%;
        }

        .title {
            margin-bottom: 20px;
            text-align: center;
            padding-top: 20px;
            font-size: 32px;
        }

        form {
            display: flex;
            flex-direction: column;

            .form-group {
                margin-bottom: 20px;

                label {
                    margin-bottom: 5px;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                }
            }



            button {
                width: 50%;
                margin: auto;
                border-radius: 5px;
                padding: 10px;
                border: none;
                background-color: #1E90FF;
                color: white;
                cursor: pointer;
                font-size: x-large;

                &:hover {
                    background-color: #4169E1;
                }

                @media screen and (max-width: 900px) {
                    width: 100%;
                }

            }
        }
    }
}